ul, li{
	list-style: none;
}

header {
	padding:20px;
}

.header-bottom{
	background: rgba(52, 152, 219,1.5);
}
ul li a{
	color:#fff;
	font-size: 18px;
}

.artical ul li{
	list-style: none;
	display: inline;
	font-style: italic;
	font-weight: bold;
}

p{
text-align: justify;

padding: 10px 10px;
}

.left{
	width: 30%;
	float: left;
}
.right{
	width: 70%;
	overflow: hidden;
	padding: 0 20px;
}

.content{
	margin-top: 20px;
	padding: 20px 10px;
	background: rgba(189, 195, 199,0.4);
	border-radius: 5px;
	overflow: hidden;
}

.sidebar{
	margin-top: 20px;
	padding: 20px 10px;
	background: rgba(189, 195, 199,0.4);

}

.sidebar ul li{

	display: inline;

}
.sidebar ul li a{

	color: black;

}

h5{
	font-style: italic;
	font-weight: bold;
}

footer{

	background: rgba(52, 152, 219,1.5);
}


/****/

body {
    font-family: "Lato", sans-serif;
}

